.admin_logo {
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	float: left;
	color: #fff;
}

.logout {
	float: right;
	padding: 30px 15px 0 0;
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
}

a:HOVER {
	text-decoration: underline;
	background: blue;
}

._site_label {
	width: 100px;
	line-height: 24px;
	height: 24px;
	text-align: left;
	font-size: 14px;
	display: inline-block;
	margin: 5px 10px 5px 5px;
	color: #999;
}

._site {
	border-radius: 5px;
	height: 24px; 
	line-height:24px;
	border: 1px solid #eee;
	text-indent: 5px;
	width: 210px;
}

._site2 {
	border-radius: 5px;
	width: 200px;
	height: 150px;
	border: 1px solid #eee;
}